@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: #F2D4B1;
}


/* logo and nav links */

/* .flex-nav-links {
    display: flex;
    align-items: center;
} */

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5px;
}

.nav-left {
    display: flex;
    font-size: 120%;
    list-style-type: none;
}

.nav-left li {
    margin-left: 10px;
    padding: 20px;
}

.nav-left a:hover {
    color: #4F7942;
}

.nav-header h1 {
    color: #2B4729;
    font-family: Pacifico, sans-serif;
    font-size: 250%;
    padding-right: 100px;
}

.nav-header .contact-header {
    color: #fff;
    background-color: #4F7942;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.nav-header .contact-header:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Main image */

.main-image {
    width: 100%;
}

#caption-text {
    color: #414111;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-style: italic;
}

#caption-text hr {
    border: 1px solid #2B4729;
    margin-top: 15px;
}

/* Musuem info */

#info-title {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 600;
}

#flex-info-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-info {
    border: 1px dotted green;
    flex-basis: 40%;
    margin-bottom: 15px;
    padding: 10px;
}

/* Musuem layout */

#layout-background {
    background-color: #2B4729;
}

.museum-layout-container img {
    width: 600px;
    height: 300px;
    margin: 8px;
    border: 1px solid #E3AF66;
}

.museum-layout-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.museum-layout-container figcaption {
    color: #F2D4B1;
}

/* Social media links */

footer {
    height: 100px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    color: #4F7942;
    margin: 10px;
    padding: 30px;
}

.social-media a:hover {
    opacity: 0.5;
}

/* Collection gallery */

.collection-header {
    text-align: center;
    padding: 32px;
}

.collection-gallery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.collection-gallery img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    padding: 5px;
}

.gallery img:hover {
    cursor: pointer;
    opacity: .5;
    transition: 0.5s;
}

/* Booking form */

.booking-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.time-container {
    background-color: #DEDEDE;
    padding: 50px;
    outline: 2px dashed #F2D4B1;
    outline-offset: -20px;
    text-align: center;
    margin-right: 100px;
}


.booking-header {
    text-transform: uppercase;
    color: #2B4729;
    margin-bottom: 10px;

}

.days-heading {
    color: #2B4729;
    margin-top: 20px;
}


.time-container p,
.phone-heading {
    color: #2B4729;
}

.time-container hr {
    border: 1px solid #F2D4B1;
    margin-top: 150px;
}

.phone-heading {
    font-style: italic;
}

form {
    display: grid;
    grid-template-rows: 50px;
}

.form-container {
    padding: 20px 0;
    margin: 0 auto;

}

.form-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
}

/* input,
select {
    padding: 10px, 15px;
} */

label {
    font-weight: 600;
}

.book-button {
    color: #2B4729;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10%;
    width: 30%;
}

.book-button:hover {
    transform: scale(1.03);
}

/* Contact form */

.contact-section form {
    
    width: 60%;
    margin: 50px auto;
    padding: 55px 30px;
}

.contact-title h2 {
    letter-spacing: 6px;
    border-bottom: 1px solid #4F7942;
    display: inline-block;
    padding: 8px;
    margin-bottom: 32px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-info .contact-info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 45%;
}

form label {
    display: block;
    letter-spacing: 4px;
    font-weight: 800;
    margin-bottom: 16px;
}

.contact-info-item input {
    border-radius: 4px;
    border: 1px solid #4F7942;
    outline: 0;
    padding: 16px;
    width: 100%;
}

.contact-message {
    margin-bottom: 32px;
}

.contact-message textarea {
    border-radius: 4px;
    border: 1px solid #4F7942;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 200px;
}

.contact-action {
    border-radius: 4px;
    border: 1px solid #4F7942;
    outline: 0;
    padding: 20px;
    cursor: pointer;
    font-weight: 600;
}

.contact-action:hover {
    transform: scale(1.05);
}

/* Media queries */

@media only screen and (max-width: 800px) {
    .nav-header {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .nav-header h1 {
        padding: 0;
    }

    .nav-left li {
        margin-left: 0;
        padding: 10px;
    }

    .contact-header {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 650px) {
    .flex-info {
        flex-basis: 80%;
    }

    .museum-layout-container img {
        width: 100%;
        height: auto;
        margin: 0
    }

    .social-media i {
        margin: 0;
        padding: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .booking-container {
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
    }

    .time-container {
        margin: 0 auto
    }
}


/* @media only screen and (max-width: 400px) {
    .flex-info {
        flex-basis: 80%
    }

    .museum-layout-container img {
        width: 100%;
        height: auto;
        margin: 0
    }
} */